@import '../login/login.scss';
/* AUTH TAB FIX */
.auth-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  white-space: nowrap;      /* PREVENT TEXT BREAK */
  width: auto;              /* AUTO SIZE */
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.tab.active {
  border-bottom: 0px solid #f5a623; /* yellow underline */
}
